.prompt-section {
  justify-content: space-between;
  display: flex;
}



.edit-icon {
  cursor: pointer;
  margin-left: 10px;
  color: #d9ddea;

}

.edit-icon:hover {
  color: #5e6061;
}

.edit-prompt-card{
/* width: 80%; */
justify-content: space-around;
display: flex;
}

.edit-prompt-input{
width: 80%;
border: 1px solid rgb(177, 176, 176);
border-radius: 15px;
padding: 5px;
}

.edit-prompt-input:focus{
border-color: blue; 
outline: none;
}

.save-edit-button{
  border-radius: 15px;
  padding: 5px;
  background: linear-gradient(40.46deg,#4A25E1 26.3%, #7B5AFF 86.4%);
  color: #fff;
  border: none;
}

.cancel-edit-button{
  border-radius: 15px;
  padding: 5px;
  background: linear-gradient(40.46deg,#4A25E1 26.3%, #7B5AFF 86.4%);
  color: #fff;
  border: none;
}


/* Avatar styling */
.avatar1 {
width: 40px;
height: 40px;
border-radius: 50%;
/* right: -280px; */
left: 960px;
top: 60px;
position: relative;
display: flex;
background-color: #b3b5b6;

}

.avatar2{
  width: 40px;
height: 40px;
border-radius: 50%;
right: -130px;
top: 60px;
position: relative;
display: flex;


}


/* Default thumbs-up icon color */
.thumpsup .fa-thumbs-up {
  color: #d9ddea; /* Default color */

}

/* Active thumbs-up icon color */
.thumpsup .fa-thumbs-up.active {
  color: #1b254b; /* Default color */
  
}

/* Default thumbs-up icon color */
.thumpsdown .fa-thumbs-down {
  color: #d9ddea; /* Default color */

}

/* Active thumbs-up icon color */
.thumpsdown .fa-thumbs-down.active {
  color: #1b254b; /* Default color */
  
}

.thumps{
  display: flex;
  gap: 15px;
  justify-content: end;
  color: #d9ddea;
}

.thumpsup{

  cursor: pointer;
  padding: 3px;
  /* left: 0px;
  bottom: 0px; */

  
}

.thumpsdown{
  cursor: pointer;
  padding-top: 5px;

}

.copy-icon{
  padding: 3px;
  cursor: pointer;
}

.copied-message{
  color: #1b254b;
}

.copy-icon:hover {
  color: #5e6061;
}

.thumpsup :hover {
  color: #5e6061;
}

.thumpsdown :hover {
  color: #5e6061;
}

.comment-box{
  justify-content: left;
  text-align: left;
  display: flex;
}

.comment-input{
  width: 200px;
  border-radius: 20px;
  padding: 10px;
}

.comment-input::placeholder, textarea::placeholder {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #1b254b;
}

.comment-input:focus{
  border-color: blue; /* Change border color when clicked or focused */
  outline: none;
  }


.comment-submit-button{

  margin: 10px;
  border-radius: 15px;
  padding: 5px;
  background: linear-gradient(40.46deg,#4A25E1 26.3%, #7B5AFF 86.4%);
  color: #fff;
  border: none;
}


a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}




.dark-mode .comment-input{
  background-color: rgba(209, 207, 228, 0.103); 
  color: #fff;
}

.dark-mode .comment-input::placeholder{
  color: #fff;
}

.dark-mode .edit-prompt-input{
  color: #fff;
  background-color: rgba(209, 207, 228, 0.103); 
}











.pdf-button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
  position: relative;
  margin-top: 1rem;
}

.pdf-button {
  align-self: flex-end; /* Align PDF button to the right */
  padding: 0.5rem 1rem;
  background: linear-gradient(40.46deg,#4A25E1 26.3%, #7B5AFF 86.4%);
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.pdf-button:hover {
  background-color: #0056b3;
}

.continue-container {
  display: flex;
  align-items: center; /* Align arrow and button horizontally */
  position: relative;
}

.arrow {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1rem; /* Add space between arrow and button */
}

.vertical-line {
  width: 4px;
  height: 50px;
  background-color: #333;
}

.horizontal-line {
  position: relative;
  width: 50px;
  height: 4px;
  background-color: #333;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.arrow-head {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #333;
  right: -8px; /* Position the arrowhead at the end of the horizontal line */
}


.continue-link {
  color: #007BFF; /* Link color */
  text-decoration: underline; /* Underline the link */
  cursor: pointer;
}

.continue-link:hover {
  color: #0056b3; /* Change color on hover */
}
